html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  position: relative;
  // background-color: #b6b6b656;
  // background-color: #232323;
  background-color: #ffffff;

  & canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
